body {
  margin: 0;
}
main {
  background: #222;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
}
canvas {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.data {
  border: 1px solid black;
  border-top: 5px solid red;
  background: #000;
  white-space: pre;
  font-family: monospace;
  max-height: 300px;
  overflow-y: auto;
  min-width: 500px;
  letter-spacing: 6px;
}
